[Desktop Entry]
Name=Biu
Comment=Bilibili音乐播放器
Exec=biu %F
Terminal=false
Type=Application
Icon=Biu
Categories=TextEditor;Utility;
Keywords=biu;music;audio;video;
StartupWMClass=biu
Actions=NewWindow;
